# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules



.env.*
/public/*
!/public/favicon.svg
!/public/og-image.png
!/public/robots.txt
!/public/sitemap.xml
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env.development
.env.production

yarn.lock
package-lock.json
.env
